body{
    background-color: #8BF0F5;
   
}

.main-screen{
    display:none;
}

.first-screen{
display:block;
}
.last-screen{
 display: none;
}

#instructions{
    position: absolute;
    top: 150px;
    left: 450px;
    font-size: 25px;
    font-family: cursive, Arial, Helvetica, sans-serif; 
    text-align: center;

}

#go-to-main-screen{
    background-color:  #FFBD91;
    padding: 12px; 
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    left: 240px;
    font-size: 25px;
}


#general-container{
    width: 1000px; /* Ancho del contenedor */
    height: 600px; /* Altura del contenedor */
    padding: 0px; /* Relleno interno del contenedor */
    top: 110px;
    left: 240px;
    position: relative;
    border: 5px solid black;
    background-color: #FFBD91;
    cursor: url("/Images/Esponja_chica.ico"), auto;
}

#subcontainer-1{
    width: 250px; /* Ancho del contenedor */
    height: 200px;
    display: none;
    position: absolute;
    top: 0; 
    left: 0;
}
#subcontainer-2{
    width: 250px; /* Ancho del contenedor */
    height: 200px;
    display: none;
    position: absolute;
    top: 0; 
    left: 250px;

}
#subcontainer-3{
    width: 250px; /* Ancho del contenedor */
    height: 200px;
    display: none;
    position: absolute;
    top: 0; 
    left: 500px;
    
}
#subcontainer-4{
    width: 250px; /* Ancho del contenedor */
    height: 200px;
    display: none;
    position: absolute;
    top: 0; 
    left: 750px;
    
}
#subcontainer-5{
    width: 250px;/* Ancho del contenedor */
    height: 200px;
    display: none;
    position: absolute;
    top: 200px; 
    left: 0px;
}
#subcontainer-6{
    width: 250px; /* Ancho del contenedor */
    height: 200px;
    display: none;
    position: absolute;
    top: 200px; 
    left: 250px;
}
#subcontainer-7{
    width: 250px; /* Ancho del contenedor */
    height: 200px;
    display: none;
    position: absolute;
    top: 200px; 
    left: 500px;
}
#subcontainer-8{
    width: 250px; /* Ancho del contenedor */
    height: 200px;
    display: none;
    position: absolute;
    top: 200px; 
    left: 750px;
    
}
#subcontainer-9{
    width: 250px; /* Ancho del contenedor */
    height: 200px;
    display: none;
    position: absolute;
    top: 400px; 
    left: 0px;
    
}
#subcontainer-10{
    width: 250px; /* Ancho del contenedor */
    height: 200px;
    display: none;
    position: absolute;
    top: 400px; 
    left: 250px;
    
}
#subcontainer-11{
    width: 250px;/* Ancho del contenedor */
    height: 200px;
    display: none;
    position: absolute;
    top: 400px; 
    left: 500px;
    
}
#subcontainer-12{
    width: 250px; /* Ancho del contenedor */
    height: 200px;
    display: none;
    position: absolute;
    top: 400px; 
    left: 750px;
    
}
.subcontainers img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#Dog-wasched-counter{
    background-color: #FFBD91;
    padding: 15px; 
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    left: 800px;
    font-size: 15px;
}
#Dog-missed-counter{
    background-color: #FFBD91;
    padding: 15px; 
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    left: 1000px;
    font-size: 15px;
}

#start-button{
    background-color: #ff98f6;
    padding: 15px; 
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 500px;
    left: 50px;
    font-size: 25px;
}

.last-screen{
    position: absolute;
    top: 150px;
    left: 500px;
    font-size: 35px;
    font-family: cursive, Arial, Helvetica, sans-serif; 
    text-align: center;
}

#go-to-first-screen{
    background-color:  #FFBD91;
    padding: 12px; 
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    left: 130px;
    font-size: 25px;
}